
@{
    ViewBag.Title = "Test";
}
@section scripts {

    <script src="~/Scripts/Application/Logic.js"></script>
    <script>
        //määritetty Logic.ts javascript-tiedostossa
        $(function () {
            initAssetAssignment();
        })
    </script>
}

<h2>Test Json interface</h2>
<p>
    <input id="LocationCode" type="text" placeholder="locationcode" />

</p>
<p>
    <input id="AssetCode" type="text" placeholder="assetcode" />
</p>
<button id="AssignAssetButton" class="btn btn-danger">Assign Asset</button>
